.custom-button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #005cde;
    text-decoration: bold;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 7px;
    margin-right: 10px;
    position: absolute; 
    top: 0; 
    right: 0;
  }
  
  
  .navbar-brand {
    margin-left: 15px;
    z-index: 1000;
  }
  .navbar{
    height: 55px;
    z-index: 1000;
  }

  .nav-item {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1000;
  }

  .container {
    font-weight: bold;
    margin-top: 100px;
    z-index: 1000;
  }

 

  .logged-in-text {
    position: absolute;
    top: 0;
    right: 120px; /* vagy bármilyen más helyre igazítás */
    margin-top: 10px; /* opcionális: adhatsz némi felső margót */
    color: #fff; /* opcionális: állítsd be a szövegszínt az igényeidnek megfelelően */
  }

