.custom-button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-decoration: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px; 
    position: absolute; 
    top: 0; 
    right: 0;
  }
  
  .custom-button:hover {
    background-color: #ffffff; 
  }
  