<router-outlet></router-outlet>

<div class="outer" *ngIf="isVisible">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Registration</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="registrationForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="registrationForm.controls['name'].dirty && registrationForm.hasError('required','name')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <small *ngIf="registrationForm.controls['name'].dirty && registrationForm.hasError('required','name')" class="text-danger">Name is required! </small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="registrationForm.controls['username'].dirty && registrationForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username">
                                </div>
                            </div>
                            <small *ngIf="registrationForm.controls['username'].dirty && registrationForm.hasError('required','username')" class="text-danger">Username is required! </small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="registrationForm.controls['password'].dirty && registrationForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="registrationForm.controls['password'].dirty && registrationForm.hasError('required','password')" class="text-danger">Password is required! </small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="registrationForm.controls['password2'].dirty && registrationForm.hasError('required','password2')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password2" [type]="type2" placeholder="Password again">
                                    <span (click)="hideShowPass2()" class="fa {{eyeIcon2}}"></span>
                                </div>
                            </div>
                            <small *ngIf="registrationForm.controls['password2'].dirty && registrationForm.hasError('required','password2')" class="text-danger">Password is required! </small>
                            <button (click)="onRegister()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? 
                                <a id="login" routerLink="/login" routerLinkActive="active" exact>Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

