.outer{
    height: 100vh;
    background: #dadde8;
}

.panel-heading{
    text-align: center;
}

#login{
   min-width: 100px;
   margin-left: auto; 
   cursor: pointer;
}

.form-inline label{
    padding-left: 10px;
    cursor: pointer;
}

.panel{
    min-height: 380px;
    border-radius: 12px;
    margin-top: 100px;
}

.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
}

.input-field.error{
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

h3.pt-3.font-weight-bold {
    font-size: 34px;  
}


