<!-- Router Outlet acts as a placeholder that Angular dynamically fills based on the current router state. -->
<router-outlet></router-outlet>

<!-- Conditional rendering of the container based on the isVisible property. Only displays if isVisible is true. -->
<div class="container full-height" *ngIf="isVisible">
    <!-- A responsive row that centers its contents vertically and horizontally. -->
    <div class="row justify-content-center h-100">
        <div class="col-auto d-flex align-items-center">
            <!-- Button group for vertical orientation of buttons related to different functionalities. -->
            <div class="btn-group-vertical" role="group" aria-label="Button List">
                <!-- Button that navigates to '/topics' when clicked. 'active' class is applied when the route is active. -->
                <button class="btn btn-primary" routerLink="/topics" routerLinkActive="active" exact>Manage Topics</button>
                <br>
                <!-- Button that navigates to '/users' when clicked. 'active' class is applied when the route is active. -->
                <button class="btn btn-primary" routerLink="/users" routerLinkActive="active" exact>Manage Users</button>
            </div>
        </div>
    </div>
</div>

