<p>single-topic works!</p>
<p>single-topic works!</p>

<div class="favourite-div">
    <label for="fav-chechbox">Favourite</label>
    <input type="checkbox" id="fav-chechbox" [(ngModel)]="isChecked" (change)="onCheckboxChange()" >
</div>    

<h2 class="text-center">{{ topic.name }}</h2>
<p class="body">{{ topic.description }}</p>


<div class="comment-div">
  <table class="table table-striped"> <!--más stílust adni neki!!!-->
    <thead>
      <tr>
        <th>timestamp</th>
        <th>username</th>
        <th>comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of commentList$ | async">
        <td>{{comment.timestamp}}</td>
        <td>{{comment.userId}}</td>
        <td>{{comment.body}}</td>
      </tr>      
    </tbody>
  </table>
  <input class="text-input" type="text">
  <button class="btn btn-primary">Write a new comment</button>
</div>


